<div class="container">
  <div class="d-flex justify-content-center text-muted font">
    <b>Created with <i class="fas fa-heart"></i> by
    <a href="https://github.com/jeansflores" class="text-muted">Jean Flores<a></b>
  </div>
</div>