<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container d-flex justify-content-between">
    <a href="/" class="navbar-brand d-flex align-items-center">
      <i class="fas fa-video"></i>
      <span><strong>VideoShare</strong><span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex justify-content-end">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <% if current_user %>
            <li class="nav-item">
              <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.email %>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="<%= videos_path %>"> My Videos</a>
                  <%= link_to('Logout', destroy_user_session_path, method: :delete,class: 'dropdown-item')%>
                </div>
              </div>
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_in">Sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_up">Sign up</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
