@import "bootstrap";
@import "devise.scss";
@import "shared/footer.scss";
@import "shared/navbar.scss";
@import "videos.scss";

.panel-main {
  margin-top: 40px;
  padding: 20px 10px;
}

.video-off {
  pointer-events: none;
}

.vjs-default-skin.vjs-paused .vjs-big-play-button {
  display: none;
}
